
body {
    padding: 0px;
    margin: 0px;
}

ul {
    list-style-type: none;
}

#maintitle {
    background-color:#e2edff;
    margin:0px;
    padding:4px;
    font-size:50px;
    text-align:center;
    color:royalblue;
}

form {
    font-size:18px;
    display:inline;
}

#navbar {
    background-color:#77d3f7;
    padding: 2%;
}

a {
    text-decoration:none;
    color:black;
}

#addfriendsform {
    float:right;
}

input {
    border:1px solid black;
}

#map {
  width: 100%;
  height: 50%;
  border: 2px solid black;
}

#places {
  border: 2px solid black;
  padding: 5px;
}

#group {
  position: fixed;
  bottom: 40%;
  right: 10%;
  border: 2px solid black;
  border-radius: 3px;
  background-color: #e2edff;
  padding: 3px;

}

#group li {
  border-radius: 2px;
  background-color: #0053d8;
  color: #77d3f7;
}
